.order-page-details {
  .order {
    height: calc(100vh - 45px - 27.5px);
    padding: 20px 14px;
    overflow-y: auto;
  }
  .handle {
    text-align: center;
    button {
      margin-bottom: 15px;
      width: 180px;
      margin-right: 5px;
      margin-left: 5px;
      position: unset;
    }
  }
  .shrinkageButton {
    position: relative;
    color: rgb(14, 109, 251);
    margin-bottom: 35px;
    text-align: center;
  }
  // .shrinkageButton::before {
  //   position: absolute;
  //   left: 0;
  //   top: 10px;
  //   content: '';
  //   height: 1px;
  //   width: 40%;
  //   background: grey;
  // }
  // .shrinkageButton::after {
  //   position: absolute;
  //   right: 0;
  //   top: 10px;
  //   content: '';
  //   height: 1px;
  //   width: 40%;
  //   background: grey;
  // }
  .Menu {
    display: flex;
  }
  .MenuItem {
    flex: 1;
    text-align: center;
  }
}