.order-page-form,.order-page-formhandle {
  .form {
    height: calc(100vh - 45px - 27.5px);
    padding: 20px 14px;
    overflow-y: auto;
  }
}

.order-page-formhandle{
  // .ant-form {
  //   // height: calc(100vh - 45px - 27.5px);
  //   padding: 20px 14px;
  //   overflow-y: auto;
  // }
  .handle-button-group {
    text-align: center;
    button {
      margin-bottom: 15px;
      width: 180px;
      margin-right: 5px;
      margin-left: 5px;
      position: unset;
    }
  }
  .ant-spin-nested-loading {
    height: calc(100vh - 45px - 27.5px);
    padding: 20px 14px;
    overflow-y: auto;
  }
}
.ant-tag-checkable {
  background-color:rgba(111, 111, 111, 0.1);
}
.ant-tag-checkable-checked {
  background-color: #1890ff;
}
.ant-spin-spinning{
  transform: translateX(-50%);
}