.projectSpread-wrapper {
    text-align: center;
    padding: 0 6px;
    overflow-y: scroll;
    height: calc(100vh - 72.5px);
}

.projectCard {
    float: left;
    // display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: calc((100vh - 72.5px) / 4)
}

.projectCard-detail {
    display: flex;
    height: 80%;
    margin: 12px 12px 0 12px;
    padding: 0px 4px;
    border-radius: 10px;
    background-color: #b8d8ea;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px 0px;
    font-size: 12px;
}
