.alert-overview {
    background: #fff;
    .overview-row {
        padding: 5px;
    }
    .ant-card {
        border-radius: 10px;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    }
    .ant-statistic-title {
        font-size: 16px;
        color: lightslategrey;
    }
    .group {
        padding: 10px 0px 0px 20px
    }
    .ant-tabs-tab {
        width: 150px;
    }
}