.selectView {
    .order-list {
        position: absolute;
        top: 72px;
        bottom: 60px;
        width: 100%;
        background-color: #fff;
        overflow-y: scroll;
        padding: 3px;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
        padding: 10px 10px;
        overflow-wrap: break-word;
    }
    .pl-handle {
        text-align: right;
        width: 70px;
        bottom: 63px;
        right: 20px;
        padding-right: 16px;
        position: -webkit-sticky;
        position: fixed;
        button {
            border: 0;
            width: 0.9rem;
            height: 0.9rem;
            border-radius: 50%;
            font-size: 24px;
            background:rgba(19, 139, 209, 0.4);
            color: #fff;
        }
    }
}