.DeviceShow-details{
    width: 100%;
    height:20rem;
    padding: 0px;
    margin: 0px;
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
        border: 0px solid white;
        background: white;
    }
    .ant-tabs-bar {
        margin: 0 0 10px 0;
    }
    .ant-tabs-tab-prev{
        background: white;
    }
    .ant-tabs-tab-next{
        background: white;
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
        border-bottom: 1px solid #fff; 
    }
    .ant-card-body {
        padding: 24px 4px;
        zoom: 1;
    }
    .ant-card{
        background-color:#b8d8ea;
        margin: 6px 5px 4px 5px;
        border-radius: 8px;
        .online-text{
            color:green;
        }
        .outline-text{
            color:red;
        }
    }
    .device-headtab{
        text-align: center;
    }
    .device-content{
        text-align: center;
        padding: 0px 6px 0px 6px;
        height: calc(100vh - 27.5px - 101px);
        overflow-y: scroll;
    }
    .device-content-cell{
        text-align: center;
        padding-top: 34px;
        width: 2rem;
        height:2rem;
        float: left;
        background-color:rgb(245, 227, 194);
        margin-left: 0.2rem;
        margin-top: 0.5rem;
        border-radius: 10px;
        color:#336699;
    }
}